.body_screen {
    background: #ffcfe4;
    background: radial-gradient(circle, rgba(255, 207, 228, 1) 0%, rgba(179, 210, 242, 1) 100%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: auto;
}

.rps-container {
    border: 2px solid #B3D2F2;
    background-color: #B3D2F2;
    border-radius: 25px;
    padding: 10px 20px;
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title-heading {
    text-align: center;
    font-weight: 900;
    color:black;
}

#score-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(325deg,rgba(255, 207, 228, 1) 21%, rgba(179, 210, 242, 1) 100%);
    border: 2px solid white;
    border-radius: 25px;
}

#humanScoreContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#playerName {
    color: gray;
    font-size: 30px;
}

#userScore {
    color: blue;
    font-weight: 900;
    font-size: larger;
}

.score-center-message {
    font-size: medium;
}

#computerScoreContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#computerName {
    color: gray;
    font-size: 30px;
}

#computerScore {
    color: red;
    font-weight: 900;
    font-size: larger;
}

.game-area-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#gameStatus {
    font-size: x-large;
    font-weight: bolder;
    padding: 10px 0px;
}

#choiceContainer {
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 400px;
}

.humanChoiceContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#humanChoiceName {
    font-size: 20px;
}

.computerChoiceContainer {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

#computerChoiceName {
    font-size: 20px;
}

#choiceButtons {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

/*class="bg-gray-500 hover:bg-gray-600 text-white font-bold py-4 px-4 rounded-lg transition-colors duration-200 text-2xl"*/
#rock {
    background-color: #7F55B1;
    border: 2px solid white;
    border-radius: 25px;
    padding: 16px 32px;
    color: white;
    transition-duration: 0.4s;
}

#paper {
    background-color: #9B7EBD;
    border: 2px solid white;
    border-radius: 25px;
    padding: 16px 32px;
    color: white;
    transition-duration: 0.4s;
    transition: all 1s ease;
}

#scissors {
    background-color: #F49BAB;
    border: 2px solid white;
    border-radius: 25px;
    padding: 16px 32px;
    color: white;
    transition-duration: 0.4s;
    transition: all 1s ease;
}

#resetButton, #resetGameButton {
    background-color: #3479BF;
    border: 2px solid white;
    border-radius: 25px;
    padding: 16px 32px;
    color: white;
    transition-duration: 0.4s;
    transition: all 1s ease;
    align-self: center;
    height: auto;
    width: 200px;
}


#rock:hover, #paper:hover, #scissors:hover, #resetButton:hover, #resetGameButton:hover {
    background-color: #FFE1E0;
    color: black;
    transform: scale(1.1) perspective(1px);
}

/*class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center hidden"*/
#gameOverModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#gameOverModalContent {
  background-color: #FFE1E0;
  margin: auto;
  padding: 20px;
  border: 1px solid #FFE1E0;
  width: 50%;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

